<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="1" name="All tests">
    <parameter name="browser" value="chrome"/>
    <test name="all-tests">
        <classes>
            <class name="tests.LoginTest"/>
            <class name="tests.DefectTest"/>
            <class name="tests.MilestoneTest"/>
            <class name="tests.ProjectTest"/>
            <class name="tests.TestCaseTest"/>
            <class name="tests.TestPlanTest"/>
            <class name="tests.TestRunTest"/>
        </classes>
    </test>
</suite>